/*
  CSS File
*/

/* THis is a comment from Neil */

/* *{
  border: 1px solid blue;
} */

/*
 VARIABLES
*/
:root {
  --colour-background-cRed: #D81010;
  --colour-cOffWhite: #F5EDED;
}
/* homebar */
.header {
  background-color: var(--colour-background-cRed);
  padding: .7rem ;
  margin-right: start;
}

.header--banner {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header--banner--img {
  align-items: center;
  height: 4rem;
}

nav .menu-icon {
  display: none;
}

.header--banner--nav ul {
  display: inline-flex;
  gap: 5rem;
  padding-right: 5rem;
  list-style-type:none;

}
.search{
  color:black;
  height: 2rem;
  width: 50%;
  font-size:1rem ;
}

.header--banner--nav li a {
  color:var(--colour-cOffWhite);
  font-weight: 800;
  text-decoration: none;
  font-size: 1rem;
}

.header--banner--nav ul li a:hover {
  text-decoration: underline;
}



/*
  PAGE / BODY
*/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--body-default-colour);
  background-color: var(--body-background-colour);
}

main {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.student--info {
  padding-left: 10rem;
  padding-right: 10rem;
  width: 100rem; 
  filter: drop-shadow(0 0 0.75rem black);
}

.student--info h2 {
  color: white;
  font-size: xx-large;
  padding: 1rem;
  background-color: black;
  transform: translate(0,0.7rem);
}

.student--info--items {
  background-color: var(--colour-cOffWhite);
  border-radius: 1rem;
}

.student--info--items ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 2rem;
  list-style-type: none;
}

.student--info--items li {
  border-radius: 1rem;
  text-align: center;
  /*font-size: large;*/
  padding: 1rem;
  background-color: var(--colour-background-cRed);
}

.registrations--box {
  grid-column-start: 1;
  grid-column-end: 3;
}

.applications--box {
  grid-column-start: 3;
  grid-column-end: -1;
}

.student--info--items li a {
  text-decoration: none;
  color: white;
}

.student--info--items li a:hover {
  text-decoration: underline;
}

.break{
  height: 5rem;
}


/* Student Services*/
.student--Services {
  padding-left: 10rem;
  padding-right: 10rem;
  margin-bottom: 5rem;  
  width: 100rem; 
  filter: drop-shadow(0 0 0.75rem black);
}

.student--Services h2 {
  color: white;
  font-size: xx-large;
  padding: 1rem;
  background-color: black;
  transform: translate(0,0.7rem);

}

.student--Services--items {
  background-color: var(--colour-cOffWhite);
  border-radius: 1rem;

}

.student--Services--items ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem;
  list-style-type: none;
}

.student--Services--items li {
  border-radius: 1rem;
  text-align: center;
  font-size: larger;
  padding: 1rem;
  background-color: var(--colour-background-cRed);
}

.student--Services--items li a {
  text-decoration: none;
  color: white;
}

.student--Services--items li a:hover {
  text-decoration: underline;
}

/*----------------Top Row----------------------*/

.Noti {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 4;
  text-align: center;
  padding: 3rem;
  background-color: var(--colour-background-cRed);
}

.Noti_form{
  color: black;
  background-color: var(--colour-cOffWhite);
  border-style: solid;
  border-width: 0.1px;
  border-radius: 1rem;

  margin-top:1rem;
  margin-bottom:1rem;

  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left:3rem;
  margin-right:3rem;

  text-align: start;
  font-size: large;
}

.boxes{
  display: inline-block;
  clear: left;
  width: 250px;
  text-align: right;
}

.Noti_form_check{
  padding-left: 8rem;
  padding-top: 1rem;
  /*
  margin-left: 3rem;
  padding-left: 11.7rem;
  */
}

input[type=submit] {
  padding:5px 15px; 
  background:white; 
  border:1px;
  border-style: solid;
  border-color: black;
  cursor:pointer;
  border-radius: 5px; 
  margin-left: 10.5rem;
  filter: drop-shadow(0 0 0.2rem gray);
  transition: 0.2s;
}

input[type=submit]:hover {
  color: white;
  border-color: var(--colour-cOffWhite);
  background-color: var(--colour-background-cRed);
  filter: drop-shadow(0 0 0rem var(--colour-cOffWhite));
  transition: 0.2s;
}

/*----------------Middle Row----------------------*/

.middle--row {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  height: 22rem;
  font-size: large;

}

.middle--row h3{
  font-size: xx-large;
}

.middle--row li a:hover {
  text-decoration: underline;
}

/*Trying to add a box for the icon*/
.icon{  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 10rem;
  /* background:white;  */
  /* border: 1px solid white; */
  margin: auto;
}

.icon img {
  height: 10rem;
  width: 10rem;
  padding: 1rem;
  filter: invert() opacity(60%) drop-shadow(0 0 0.2rem gray);
  transition: 0.1s;
}

.icon img:hover {
  padding: 0;
  filter: invert() opacity(100%) drop-shadow(0 0 0.3rem var(--colour-cOffWhite));
  transition: 0.1s;
}

.middle--row ul{
  padding: -2rem;
}

/*----------------Bottom Row----------------------*/






/*
  Screen reader text utility class
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@media screen and (max-width: 700px) {

  .header--banner img{
    display: none;
  }

  .header--banner input {
     display: none;
  }

  .header--banner--nav ul {
      display: flex;
      flex-direction: column;
      padding-top: 3rem;
      gap: 3rem;
      padding-right: 3rem;
      list-style-type: none;
  
    }

  .header--banner--nav ul li {
    display: block;
  }

  .header {
    background-color: #36d8f4
        /*var(--colour-background-cRed)*/
      ;
      position: fixed;
      top: 200px;
      right: 200px;
      height: 100vh;
      width: 30vw;
      top: 0;
      right: 0px;
      text-align: left;
      z-index: 2;
      transition: 1s;
  }

  .header--banner--nav {
    
  }

  nav .menu-icon {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 30px;
    cursor: pointer;
  }

  .nav-items ul {
    padding: 25px;
  }

}