/*
  CSS File
*/

/* THis is a comment from Neil */

/*
 VARIABLES
*/
:root {
  /* Core colours */
  /* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
  --colour-amaranth: #e63946;
  --colour-peppermint: #f1faee;
  --colour-aquaisland: #a8dadc;
  --colour-wedgewood: #457b9d;
  --colour-cello: #1d3557;

  /* Header configuration */
  --header-heading-colour: var(--colour-peppermint);

  /* Body configuration */
  --body-default-colour: var(--colour-peppermint);
  --body-background-colour: var(--colour-cello);
}

/* homebar */
.header {
  background-color: red;
  padding: .7rem ;
  margin-right: start;
}

.header--banner {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header--banner--img {
  align-items: center;
  height: 4rem;
}

.header--banner--nav ul {
  display: flex;
  gap: 10rem;
  list-style-type:none;

}
.search{
  color:black;
  height: 2rem;
  width: 10rem;
  font-size:1rem ;
}

.header--banner--nav li a {
  color:white;
  font-weight: 800;
  text-decoration: none;
  font-size: 1rem;
}

.header--banner--nav ul li a:hover {
  text-decoration: underline;
}



/*
  PAGE / BODY
*/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--body-default-colour);
  background-color: var(--body-background-colour);
}

main {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.student--info {
  width: 1500px; 
}

.student--info h2 {
  font-size: xx-large;
  padding: 1rem;
  background-color: black;
}

.student--info--items {
  background-color: whitesmoke;
}

.student--info--items ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 1000px;
  gap: 2rem;
  padding: 2rem;
  list-style-type: none;
}

.student--info--items li {
  text-align: center;
  font-size: x-large;
  padding: 1rem;
  background-color: red;
}

.big--box--1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.big--box--2 {
  grid-column-start: 3;
  grid-column-end: -1;
}

.student--info--items li a {
  text-decoration: none;
  color: white;
}

.student--info--items li a:hover {
  text-decoration: underline;
}

/*
  Screen reader text utility class
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
